* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(223, 226, 231);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  margin-top: 20px;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  box-shadow: 0px 1px 5px 0px #bbb;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
}

ul {
  list-style-image: url("./img/square-regular.svg");
  font-size: 24px;
  width: 100%;
}

li[aria-checked="true"] {
  color: gray;
  text-decoration: line-through;
  list-style-image: url("./img/check-square-regular.svg");
}

#completed-message {
  visibility: hidden;
}

button {
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: bold;
  background: rgb(241, 233, 248);
  margin-left: 20px;
  vertical-align: middle;
}
